/build/
/dist/
Spark Reader.iml
Spark Reader.jar
forAnki.csv
dictionaries/kanji.txt
preferences/knownWords
preferences/preferredDefs
out/
/screenshots/
/savedLines.csv
nbproject/private/
src/META-INF/
~$manual.docx
/dictionaries/Kenkyusha_Waei_Daijiten_V5/
