/build/
/dist/
Conversation test.txt
Spark Reader.iml
Spark Reader.jar
forAnki-old.csv
forAnki.csv
dictionaries/kanji.txt
preferences/knownWords
out/
/screenshots/
/savedLines.csv
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/eb4j_1_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
MP test lines.txt
nbproject/private/
src/META-INF/
~$manual.docx
/dictionaries/Kenkyusha_Waei_Daijiten_V5/
